<img style="text-align:center; margin:0 auto" src="https://drive.google.com/uc?export=view&id=15uzPyvfgv3obSupxZAFHY21YA82yFs0M" title="Logo UMAB" alt="Logo UMAB" width="221" height="236">
<center><b>Université Abdelhamid Ibn Badis - Mostaganem
    <br>Faculté des Sciences Exactes et de l'Informatique
    <br>Département de Mathématiques et Informatique
    <br>Master IA4IOT
    <br>Programmation Avancée (Python)
    </b></center>

---

# <center>TP 02 : Affichage, lecture, variables et débogage</center>
<b>Objectif</b> : L'objectif de ce second TP est de vous aider à vous familiariser avec le langage Python, à apprendre à bien utiliser les fonctions print et input pour l'affichage et la lecture. Vous ferez aussi vos premiers pas dans le débogage de code Python.

---
<center><b>Nom et prénoms : ** WISSAL MANSERI ** 



---

# Partie 1 : affichage avec Python
La fonction print de Python permet d'afficher des messages, le contenu de variables à l'écran ou autres périphériques de sortie. Le message affiché peut être un string ou tout autre objet qui sera préalablement converti à un string avant qu'il ne soit affiché. La syntaxe de la fonction est comme suit :
```python 
print(object(s), sep=separator, end=end, file=file, flush=flush) 
``` 
<table style="margin-top:10px; margin-left:10px;text-align: left">
  <thead>
    <tr>
      <th style="text-align: left">Parameter</th>
      <th style="text-align: left">Descritpion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">object(s)</td>
      <td style="text-align: left">Any object, and as many as you like. Will be converted to string before printed</td>
    </tr>
    <tr>
      <td style="text-align: left">sep='separator'</td>
      <td style="text-align: left">Optional. Specify how to separate the objects, if there is more than one. Default is ' '</td>
    </tr>
    <tr>
      <td style="text-align: left">end='end'</td>
      <td style="text-align: left">Optional. Specify what to print at the end. Default is '\n' (line feed)</td>
    </tr>
    <tr>
      <td style="text-align: left">file</td>
      <td style="text-align: left">Optional. An object with a write method. Default is sys.stdout</td>
    </tr>
    <tr>
      <td style="text-align: left">flush</td>
      <td style="text-align: left"> 	Optional. A Boolean, specifying if the output is flushed (True) or buffered (False). Default is False</td>
    </tr>
  </tbody>
</table>

<b>Exercice 1.1 :</b> Écrire le code Python dans la cellule ci-dessous (en utilisant la fonction print) qui permet d'afficher les messages suivants :
<p style="padding: 10px; border: 1px solid black;">
TP 2 : Affichage, lecture, variables et débogage
<br>L'affichage se fait à l'aide de la fonction print
<br>print("Ceci est un exemple")
</p>

In [3]:
#écrire votre code ici
print("Affichage, lecture,varible et débogage")
print("L'affichege se fait à l'aide de la fonction print")
print("ceci est un message")

Affichage, lecture,varible et débogage
L'affichege se fait à l'aide de la fonction print
ceci est un message

<b>Exercice 1.2 :</b> Écrire le code Python qui utilise la fonction print (**la fonction doit être appelée 3 fois**) pour afficher
<p style="padding: 10px; border: 1px solid black;">
Message 1 Message 2 Message 3
</p>

In [18]:
W = " Message 1 Message 2 Message 3 "
print(3*W)

 Message 1 Message 2 Message 3  Message 1 Message 2 Message 3  Message 1 Message 2 Message 3

In [4]:
#écrire votre code ici
input('veuillez saisir votre nom :')

veuillez saisir votre nom :wissal

'wissal'

<b>Exercice 1.3 :</b> Le code Python ci-dessous permet d'afficher 1 2 3 4.
```python 
print(1, 2, 3, 4)
``` 
En appelant la **fonction print deux fois et en utilisant les paramètres sep et end**, donner le code Python qui permet d'afficher
<p style="padding: 10px; border: 1px solid black;">
1*2*3*4
<br>1*2*3*4/2 
</p>

In [7]:
print(1, 2, 3, 4)
#écrire votre code ici
print(1,2,3,4 ,sep="*")
print(1,2,3,4 ,sep="*", end="/2")

1 2 3 4
1*2*3*4
1*2*3*4/2

# Partie 2 : les variables
Une variable est un concept fondamental dans tout langage de programmation. Une variable n'est en fin de compte qu'un emplacement mémoire réservé afin de stocker et manipuler des données. Le code suivant permet de créer une variable de type entier
```python 
x = 5
``` 
Pour afficher le contenu de la variable, il suffit d'utiliser 
```python 
print(x)
``` 
Afin afficher un message précédent la valeur
```python 
print("La valeur est", x)
``` 
Python permet au programmeur de déterminer le type d'une variable grâce à la fonction type
```python 
type(x)
```

In [29]:
#ne modifiez pas le code ci-dessous
x = 5
print(x)
print("La valeur est", x)
print(type(x))

5
La valeur est 5
<class 'int'>

Python permet aussi d'initialiser plusieurs variables avec la même valeur Par exemple :
```python 
a = b = c = 10
```

In [30]:
#ne modifiez pas le code ci-dessous
a = b = c = 10
print(a, b, c, sep='\n')

10
10
10

Vous pouvez aussi assigner différentes valeurs à différentes en même temps en utilisant
```python 
a, b, c = 1, 2, 3
```

In [31]:
#ne modifiez pas le code ci-dessous
a, b, c = 1, 2, 3
print(a, b, c, sep='\n')
print("La somme est", a + b + c)

1
2
3
La somme est 6

En Python, une variable peut être déclarée avec un type qui peut être changé plus tard

In [32]:
#ne modifiez pas le code ci-dessous
y = 5
print(y)
y = "C'est magique !"
print(y)

5
C'est magique !

<b>Exercice 2.1 :</b> Écrire un programme qui permet de permuter les valeurs de deux variables a et b (initialisez les variables a et b)

In [25]:
#solution 1 : en utilisant une variable supplémentaire
#écrire votre code ici
A=5
B=7
print(A,B)
C=A
A=B
B=C
print(A,B)

5 7
7 5

In [26]:
#solution 2 : sans utiliser une variable supplémentaire
#écrire votre code ici
A=5
B=7
print(A,B , B,A)

5 7 7 5

Résulat attendu pour a = 5 et b = 7 est <b> a = 7 et b = 8</b>

<b>Exercice 2.2 :</b> Déclarez et initalisez deux variables puis calculez et affichez leur somme

In [27]:
#solution 1 : en utilisant une variable pour stocker le résultat de l'addition
#écrire votre code ici
A=2
B=24
C= A+B
print(C)

26

In [28]:
#solution 2 : sans utiliser une variable pour stocker le résultat de l'addition
#écrire votre code ici
A=2
B=24
print(A+B)

26

<b>Exercice 2.3 :</b> Donnez la valeur affichée des bouts de code suivants :
```python 
#code 1
a = 4
b = a - 2
print(a * b)
#code 2
a = 6
a = a - 3
a = a * a + 2
#code 3
a = 7
b = a // 2
print(a * b)
#code 4
a = "Bonjour"
b = "Salut"
print(a + b)
#code 5
a = a + 2
print(a)
```

In [33]:
a = a + 2
print(a)

3

In [34]:
#donner les valeurs affichées ci-dessous
#code 1
8
#code 2
#Since our code does not contain a print so we will have no display
#if we had a print the result of a would be 11
#code 3
21
#code 4
#BonjourSalut
#code 5
#Our program will take values ​​randomly and suddenly each time we will have a different result 3 or 5 ect.....

21

### Transtypage
Comme la plupart des langages de programmation, Python de permet de changer le type d'une variable, quand possible, qu'on appel transtypage ou casting. Nous allons considérer trois fonctions utilisées pour le transtypage ***int***, ***float*** et ***str***.
```python 
int(value, base)
``` 
<table style="margin-top:10px; margin-left:10px;text-align: left">
  <thead>
    <tr>
      <th style="text-align: left">Parameter</th>
      <th style="text-align: left">Descritpion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">value</td>
      <td style="text-align: left">A number or a string that can be converted into an integer number</td>
    </tr>
    <tr>
      <td style="text-align: left">base</td>
      <td style="text-align: left">A number representing the number format. Default value: 10</td>
    </tr>
  </tbody>
</table>

```python 
float(value)
``` 
<table style="margin-top:10px; margin-left:10px;text-align: left">
  <thead>
    <tr>
      <th style="text-align: left">Parameter</th>
      <th style="text-align: left">Descritpion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">value</td>
      <td style="text-align: left">A number or a string that can be converted into a floating point number</td>
    </tr>
    
  </tbody>
</table>

```python 
str(object, encoding=encoding, errors=errors) 
``` 
<table style="margin-top:10px; margin-left:10px;text-align: left">
  <thead>
    <tr>
      <th style="text-align: left">Parameter</th>
      <th style="text-align: left">Descritpion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">object</td>
      <td style="text-align: left">Any object. Specifies the object to convert into a string</td>
    </tr>
    <tr>
      <td style="text-align: left">encoding</td>
      <td style="text-align: left">The encoding of the object. Default is UTF-8</td>
    </tr>
    <tr>
      <td style="text-align: left">errors</td>
      <td style="text-align: left">Specifies what to do if the decoding fails</td>
    </tr>
    
  </tbody>
</table>
Pour illustrer le casting, nous allons créer une variable de type int que nous allons convertir par la suite en str.

In [36]:
#ne modifiez pas le code ci-dessous
a = 5
print(type(a))
a = str(a)
print(type(a))

<class 'int'>
<class 'str'>

De la même manière, la conversion d'une variable de str en int ou float

In [35]:
#ne modifiez pas le code ci-dessous
a = "5"
b = "5.5"
print(type(a), type(b))
a = int("5")
b = float("5.5")
print(type(a), type(b))

<class 'str'> <class 'str'>
<class 'int'> <class 'float'>

In [45]:
#ne modifiez pas le code ci-dessous
a = "abc"
print(type(a))
#a = int(a) #va causer une erreur! Il faut être qu'il soit possible de caster la variable avant de le faire.
print(type(a))

<class 'str'>
<class 'str'>

### Mise en forme de la sortie (formatting)
Il est des fois nécessaire de mettre en forme la sortie afin qu'elle soit plus attractive ou mieux organisée. Ceci peut être fait de plusieurs manières :

In [38]:
#ne modifiez pas le code ci-dessous
nom = "Amine"
age = 22
print("Mon nom est", nom, "et j'ai", age, "ans")

Mon nom est Amine et j'ai 22 ans

Vous pouvez aussi utiliser la fonction format de la classe str qui permet de convertir un objet en string tout en les insérant dans les espaces réservés (placeholder) {}
```python
string.format(value1, value2...)
```
*Pour plus d'informations consultez le lien https://www.w3schools.com/python/ref_string_format.asp*

In [39]:
#ne modifiez pas le code ci-dessous
print("Mon nom est {} et j'ai {} ans".format(nom, age))

Mon nom est Amine et j'ai 22 ans

Notez que l'ordre des variables ici est important, car en inversant nom et age dans la fonction format on obtiendrait

In [40]:
#ne modifiez pas le code ci-dessous
print("Mon nom est {} et j'ai {} ans".format(age, nom))

Mon nom est 22 et j'ai Amine ans

qui n'est pas le résultat souhaité. Par contre, les espaces réservés (placeholders) peuvent être identifiés grâce à des index nommés (named idexes) ce qui nous permet de changer le positionnement des variables à volonté

In [41]:
#ne modifiez pas le code ci-dessous
print("Mon nom est {n} et j'ai {a} ans".format(a=age, n=nom))
print("Mon nom est {n} et j'ai {a} ans".format(n=nom, a=age)) 
#notez que nous avons changé les positions de variables dans le string dans le second print

Mon nom est Amine et j'ai 22 ans
Mon nom est Amine et j'ai 22 ans

La fonction printf en langage C permet de définir le nombre de chiffres après la virgule rajouter de l'espace avant le contenu de la variable entre autres. La fonction format de la classe string en Python permet de faire de même

In [42]:
#ne modifiez pas le code ci-dessous
pi = 3.141592
print("La valeur de pi est", pi)
print("La valeur de pi est {:.2f}".format(pi)) #affiche deux chiffres après la virgule (la valeur est arrondie)

La valeur de pi est 3.141592
La valeur de pi est 3.14

La fonction format permet aussi de rajouter des espaces devant les valeurs ou bien la disposition du texte, qui est utile pour afficher les valeurs sous forme tabulaire.

In [43]:
#ne modifiez pas le code ci-dessous
print("{:<10s}{:<10s}".format("Nom", "Age"))
print("{:<10s}{:<10d}".format("Amine", 22))
print("{:<10s}{:<10d}".format("Nour", 24))

Nom       Age
Amine     22
Nour      24

Une autre alternative existe avec les versions récentes de Python (3.6 et plus) et qui consiste à utiliser ***f-String***

In [44]:
#ne modifiez pas le code ci-dessous
nom = "Amine"
age = 22
print(f"Mon nom est {nom} et j'ai {age} ans")
print()
#affichage sous forme de tableau
print(f'{"Nom":<10s}{"Age":<10s}')
print(f'{"Amine":<10s}{22:<10d}')
print(f'{"Nour":<10s}{24:<10d}')

Mon nom est Amine et j'ai 22 ans

Nom       Age
Amine     22
Nour      24

### Convention d'appellation (choix des noms des variables)
Une variable peut avoir un nom court comme a ou b ou peut être plus descriptive (recommandé) comme (nom, somme, prix). Pour nommer une variable, il faut respecter les règles suivantes :
* Le nom d'une variable doit commencer par une lettre (majuscule ou minuscule) ou bien un trait de soulignement (_) (underscore en anglais). Par exemple age, Age ou _age
* Le nom d'une variable ne peut pas commencer par un chiffre. Par exemple 2age
* Le nom d'une variable peut contenir des caractères alphanumériques ou bien un train de soulignement. Par exemple age-2,  age&2 ou age 2 ne sont pas corrects
* Le noms de variables sont sensibles à la casse la variable NOM et différente des variables Nom ou nom
Néanmoins, il existe certaines bonnes pratiques (convention d'appellation) qu'il est conseillé de suivre lors du choix des noms des variables afin de faciliter la lecture et la compréhension du code par les développeur, spécialement lorsqu'il s'agit de projet où plusieurs développeurs contribuent.

Les trois conventions de nommage (appellation) les plus utilisés sont :

<img src="https://drive.google.com/uc?export=view&id=1fBX9X1vfTP9-vjrDqd0zhW33Om1MjQRM" title="Camel, Snake & Pascal case" alt="Camel, Snake & Pascal case" width="877" height="308">

* Camel Case : le premier mot est écrit en minuscule alors que les mots suivants commencent par une majuscule afin de rendre les limites des mots plus facile à voir. Par exemple **nombreEtudiantsInscrits**
* Pascal Case : similaire au Camel Case, sauf que le premier mot commence aussi par une majuscule. Par exemple **NombreEtudiantsInscrits**
* Sanke Case : les mots sont séparés par des traits de soulignement. Ce style est plus fréquemment utilisé pour le langage Python. Par exemple **nombre_etudiants_inscrits**

### Mots clés réservés
Le langage Python comprend différents mots clés qui ne peuvent être utilisé pour nommer des variables/objets. Ces mots clés sont comme suit :
<table style="margin-top:10px; margin-left:10px;text-align: left">
  <tbody>
    <tr>
      <td style="text-align: left">False</td>
      <td style="text-align: left">def</td>
      <td style="text-align: left">if</td>
      <td style="text-align: left">raise</td>
    </tr>
    <tr>
      <td style="text-align: left">None</td>
      <td style="text-align: left">del</td>
      <td style="text-align: left">import</td>
      <td style="text-align: left">return</td>
    </tr>
    <tr>
      <td style="text-align: left">True</td>
      <td style="text-align: left">elif</td>
      <td style="text-align: left">in</td>
      <td style="text-align: left">try</td>
    </tr>
    <tr>
      <td style="text-align: left">and</td>
      <td style="text-align: left">else</td>
      <td style="text-align: left">is</td>
      <td style="text-align: left">while</td>
    </tr>
    <tr>
      <td style="text-align: left">as</td>
      <td style="text-align: left">except</td>
      <td style="text-align: left">lambda</td>
      <td style="text-align: left">with</td>
    </tr>
    <tr>
      <td style="text-align: left">assert</td>
      <td style="text-align: left">finally</td>
      <td style="text-align: left">nonlocal</td>
      <td style="text-align: left">yield</td>
    </tr>
    <tr>
      <td style="text-align: left">break</td>
      <td style="text-align: left">for</td>
      <td style="text-align: left">not</td>
      <td style="text-align: left">class</td>
    </tr>
    <tr>
      <td style="text-align: left">from</td>
      <td style="text-align: left">or</td>
      <td style="text-align: left">continue</td>
      <td style="text-align: left">global</td>
    </tr>
    <tr>
      <td style="text-align: left">pass</td>
      <td style="text-align: left"></td>
      <td style="text-align: left"></td>
      <td style="text-align: left"></td>
    </tr>
  </tbody>
</table>

# Partie 3 : lecture de données
Les programmes présentés ou créés jusque là ne permettaient pas à l'utilisateur d'interagir avec le programme, nous allons donc maintenant couvrir la fonction ***input*** qui permet une certaine flexibilité.
```python 
input(prompt)
``` 
<table style="margin-top:10px; margin-left:10px;text-align: left">
  <thead>
    <tr>
      <th style="text-align: left">Parameter</th>
      <th style="text-align: left">Descritpion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">prompt</td>
      <td style="text-align: left">A String, representing a default message before the input.</td>
    </tr>
  </tbody>
</table>
Le code ci-dessous permet à l'utilisateur de saisir la valeur demandée par le programme :

In [62]:
#ne modifiez pas le code ci-dessous
#exécutez cette cellule
input("Entrez votre nom ")

Entrez votre nom WISSAL

'WISSAL'

Notez que la valeur entrée par l'utilisateur n'est stockée nul part et est affichée par Jupyter Notebook car la fonction retourne une valeur ce qui n'est le cas des autres IDE (la valeur ne sera pas affichée). Ainsi, il est possible de créer une variable qui va recevoir la valeur

In [61]:
#ne modifiez pas le code ci-dessous
#exécutez cette cellule
nom = input("Entrez votre nom ")
print("Votre nom est", nom)

Entrez votre nom WISSAL MN
Votre nom est WISSAL MN

Il est important de noter que la valeur retournée par la fonction input est de type string

In [60]:
#ne modifiez pas le code ci-dessous
#exécutez cette cellule
n = input("Entez un numéro ")
print(type(n))

Entez un numéro 12345
<class 'str'>

Ainsi, il devient nécessaire de convertir la valeur en entrée en entier ou float pour afin de réaliser des opérations arithmétiques entre autres. L'opération de conversion (cast) se fait à l'aide des fonctions ***int*** ou ***float***. Cependant, la conversion peut cause des erreurs si la valeur entrée par l'utilisateur ne peut être convertie en entier ou flottant par exemple "abc".

In [59]:
#ne modifiez pas le code ci-dessous
#exécutez cette cellule
n = int(input("Entez un entier "))
print(type(n))

Entez un entier 12
<class 'int'>

In [57]:
#ne modifiez pas le code ci-dessous
#exécutez cette cellule
n = float(input("Entez un nombre réel "))
print(type(n))

Entez un nombre réel 1
<class 'float'>

<b>Exercice 3.1 :</b> Écrire un programme qui demande à l'utilisateur de saisir son nom et d'affiche le nombre de lettres (taille de la chaîne de caractères)

In [48]:
#écrire votre code ici
W = str(input("enter your non : "))
print(len(W))

enter your non : wissal
6

<b>Exercice 3.2 :</b> Expliquez le code suivant (sans exécution, puis exécutez le pour vérifier votre réponse)
```python
print("Bonjour " + input("Entrez votre nom "))
```

In [49]:
#donnez votre réponse
#Bonjour WISSAL 
#This program will concatenate between the character string Hello and the name entered by the user and it will leave a space between these two Because after the Hello string there is a space

<b>Exercice 3.3 :</b> Écrire un programme qui utilise la fonction print et qui après exécution donne génère l'affichage suivant :
<p style="padding: 10px; border: 1px solid black;">
Entrez votre nom : Nour
<br>Quel est votre âge Nour? 24
<br>Votre nom est Nour et vous avez 24 ans
</p>

In [53]:
#écrire votre code ici
A = input("Entrez votre nom ")
B= input("Quel est votre âge Nour?")
print("Votre nom est {} et vous avez {} ans".format(A ,B))

Entrez votre nom Nour
Quel est votre âge Nour?24
Votre nom est Nour et vous avez 24 ans

<b>Exercice 3.4 :</b> Écrire un programme qui permet de permuter les valeurs de deux variables a et b. Utilisez la fonction input pour obtenir les valeurs de l'utilisateur.

In [55]:
#écrire votre code ici
A = int(input("Enter a number"))
B=int(input("Enter a different number"))
print(A,B ,B,A)

Enter a number24
Enter a different number10
24 10 10 24

# Partie 4 : Débogage, premiers pas
Comme avec tout autre langage de programmation, en écrivant du code il est fort probable qu'il contienne des erreurs syntaxiques (faciles à identifier et à résoudre) ou logiques (plus difficiles à trouver). Par conséquence, le compilateur (IDE) va vous afficher ces erreurs que vous devrez résoudre, c'est ce qu'on appelle **Débogage***. Malheureusement, Jupyter Notebook ne fournit pas un débogueur performant comme c'est le cas PyCharm ou Thonny. Néanmoins, les erreurs retournées peuvent tout de même vous aider à identifier et régler le problème.
Par exemple le code suivant affichera une erreur liée à une erreur syntaxique dans le nom de la fonction print

In [63]:
#ne modifiez pas le code ci-dessous
#pint("Partie 3")
print("Partie 3")

Partie 3

Ci-dessous un exemple d'erreur causé par une mauvaise indentation du code car il y a un espace devant le deuxième print

In [ ]:
#ne modifiez pas le code ci-dessous
print("Partie 3")
 print("Indentation")

IndentationError: unexpected indent (810849831.py, line 2)

Le code suivant contient un erreur dans le mot clé import utiliser pour importer un package (librarie)

In [ ]:
impot time

SyntaxError: invalid syntax (1450529283.py, line 1)

<b>Exercice 4.1 :</b> Le code ci-dessous contient plusieurs erreurs. Identifiez et corrigez ces erreurs. Le résultat attendu est :
<p style="padding: 10px; border: 1px solid black;">
TP 2 : débogage
<br>Exercice d'application
<br>La valeur de a est 5
<br>Donnez la valeur de x  10
<br>10
</p>

In [80]:
#code à corriger
print("TP 2 : débogage")
print("Exercice d'application")
a =5
print("La valeur de a est {}".format(a))
x =input("Donnez la valeur de x ")
print(x)

TP 2 : débogage
Exercice d'application
La valeur de a est 5
Donnez la valeur de x 10
10

<b>Mini projet :</b> Créer un programme qui :
* Affiche un message de bienvenue à l'utilisateur
* Demande à l'utilisateur d'entrer son nom et son prénom (séparément)
* Demande à l'utilisateur de donner le nom de la ville dans laquelle il est né
* Combiner et afficher le nom, le prénom et le nom de la ville  

La valeur entrées par l'utilisateur doivent être affichées en dessous du message. Par exemple :  
Entrez votre âge :  
24

In [78]:
#écrire votre code ici
print("bienvenue")
a = "Veuillez entrer votre nom s'il vous plaît :  "
print(a)
A=str(input(""))
b = "Veuillez entrer votre prénom s'il vous plaît : "
print(b)
B=str(input(""))
c="Veuillez entrer le nom de la ville de la naissance : "
print(c)
C= str(input(""))

print ("Votre nom est {}Et et votre prénom est {} et vous êtes né à {}".format(A,B,C))

bienvenue
Veuillez entrer votre nom s'il vous plaît :
MANSERI
Veuillez entrer votre prénom s'il vous plaît :
WISSAL
Veuillez entrer le nom de la ville de la naissance :
MOSTAGANEM
Votre nom est MANSERIEt et votre prénom est WISSAL et vous êtes né à MOSTAGANEM

**<center>Évaluation : Merci d'évaluer ce chapitre en utilisant <a href="https://forms.gle/yqMqmoyKNs1o6FqC7">ce lien</a>. Merci pour votre collaboration !</br></center>**